@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See the favourite <a asp-controller="SoccerPlayer" asp-action="Items">soccer players</a> for Tirth Patel(8965481)</p>
</div>
